<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PhoneBook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body>
<br>
<div class="text-center">
    <a class="btn btn-secondary" href="/add" role="button">Add contact</a>
</div>


<div class="container">
    <h2>PhoneBook</h2>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th><a href="/sortByName" >Full Name</a></th>
            <th><a href="/sortByEmail" >Email</a></th>
            <th>Phone number</th>
            <th>        Options</th>
        </tr>
        </thead>

        <tbody>


        <div th:each="elem : ${contact}">

            <tr>

                <td th:text="${ elem.id}"></td>
                <td th:text="${elem.fullName }"></td>
                <td th:text="${elem.email }"></td>
                <td th:text="${elem.number }"></td>
                <td >
<!--                    <div class="btn-group" role="group" aria-label="Basic example">-->
<!--                        <button type="button" class="btn btn-secondary">Details</button>-->
<!--                        <button type="button" class="btn btn-secondary">Edit</button>-->
<!--                        <button type="button" class="btn btn-secondary">Remove</button>-->
<!--                    </div>-->

                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Options
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                            <a class="dropdown-item" th:href="'/' + ${elem.id} + '/view'">View</a>
                            <a class="dropdown-item" th:href="'/' + ${elem.id} + '/edit'">Edit contact</a>
<!--                            <a class="dropdown-item" href=" ${elem.id} + '/remove'">Remove contact</a>-->
                            <a class="dropdown-item" th:href=" ${elem.id} + '/remove'">Remove contact</a>
                        </div>
                    </div>
                </td>

            </tr>
        </div>


        </tbody>
    </table>
<div/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>


</body>
</html>

